@font-face {
  font-family: "climate";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~/assets/fonts/climate.ttf") format("truetype");
}

@font-face {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~/assets/fonts/montserrat.ttf") format("truetype");
}

* {
  font-family: "montserrat";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
